<ion-header>
  <ion-item>
    <ion-label class="ion-padding">
      <h1>{{ 'Order Details' | translate }}</h1>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content scroll="false" no-padding>

  <ion-list class="animate__animated animate__slideInUp animate__fast">
    <ion-item *ngFor="let item of productDetails; let i=index;">
      <ion-grid>
        <ion-row>
          <ion-col size="3" routerLink="/single-product-view">
            <img class="cart-image" src="{{ item?.productImage }}" />
            <small class="ion-text-uppercase text-muted">
              Qty: {{ item?.quantity }}</small
            >
          </ion-col>
          <ion-col size="6" routerLink="/single-product-view">
            <h6 class="text-oflow-lg no-gap">{{ item?.shortName }}</h6>
            <p class="text-muted no-gap">{{ item?.brand }}</p>
          </ion-col>
          <ion-col size="3" class="ion-text-right">
            <p
              class="ion-text-uppercase no-gap x-small ion-margin-top text-muted"
            >
              {{ item?.salesPrice }} X {{ item?.quantity }}
            </p>
            <h6 class="ion-text-right ion-margin-top">
              ₹ {{ item?.salesPrice*item?.quantity }}
            </h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-grid
    class="ion-padding animate__animated animate__fadeIn animate__faster"
  >
    <ion-row>
      <ion-col size="9" class="ion-text-right">
        <small class="text-muted ion-text-uppercase no-gap">{{ 'Subtotal' | translate }}</small>
      </ion-col>
      <ion-col size="3" class="ion-text-right">
        ₹ {{ orderDetails?.subTotal }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="9" class="ion-text-right">
        <small class="text-muted ion-text-uppercase no-gap"
          >{{ 'Shipping Charge' | translate }}</small
        >
      </ion-col>
      <ion-col size="3" class="ion-text-right">
        ₹ {{ orderDetails?.shippingCost }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="9" class="ion-text-right">
        <small class="text-muted ion-text-uppercase no-gap">{{ 'Grand Total' | translate }}</small>
      </ion-col>
      <ion-col size="3" class="ion-text-right">
        ₹ {{ orderDetails?.grandTotal }}
      </ion-col>
    </ion-row>

    <h6>{{ 'Payment method' | translate }}: {{ orderDetails?.payMode }}</h6>
  </ion-grid>

  <ion-grid class="ion-padding">
    <small class="text-muted ion-text-uppercase">{{ 'Delivery Address' | translate }}</small>
  </ion-grid>

  <ion-list class="animate__animated animate__fadeIn animate__faster">
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon size="large" name="home-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Mr. Karthikeyan</h2>
        <h3>3423 Jehovah Drive</h3>
        <p>Roanoke, Virginia - 24019</p>
        <p>+1 540-529-3606</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="order-track animate__animated animate__fadeIn animate__faster">
    <div class="order-track-step">
      <div class="order-track-status">
        <span class="order-track-status-dot"></span>
        <span class="order-track-status-line"></span>
      </div>
      <div class="order-track-text">
        <p class="order-track-text-stat no-gap">Order Placed</p>
        <span class="order-track-text-sub">21st November, 2020</span>
      </div>
    </div>
    <div class="order-track-step">
      <div class="order-track-status">
        <span class="order-track-status-dot"></span>
        <span class="order-track-status-line"></span>
      </div>
      <div class="order-track-text">
        <p class="order-track-text-stat no-gap">Order Processed</p>
        <span class="order-track-text-sub">21st November, 2020</span>
      </div>
    </div>
    <div class="order-track-step">
      <div class="order-track-status">
        <span class="order-track-status-dot"></span>
        <span class="order-track-status-line"></span>
      </div>
      <div class="order-track-text">
        <p class="order-track-text-stat no-gap">Shipped to US</p>
        <span class="order-track-text-sub">21st November, 2020</span>
      </div>
    </div>
    <div class="order-track-step">
      <div class="order-track-status">
        <span class="order-track-status-dot"></span>
        <span class="order-track-status-line"></span>
      </div>
      <div class="order-track-text">
        <p class="order-track-text-stat no-gap">Order Dispatched at VA</p>
        <span class="order-track-text-sub">21st November, 2020</span>
      </div>
    </div>
    <div class="order-track-step">
      <div class="order-track-status">
        <span class="order-track-status-dot"></span>
        <span class="order-track-status-line"></span>
      </div>
      <div class="order-track-text">
        <p class="order-track-text-stat no-gap">Order Deliverd</p>
        <span class="order-track-text-sub">21st November, 2020</span>
      </div>
    </div>
  </div>
</ion-content>
