.text-muted {
  color: #6c757d !important;
}
.no-gap {
  padding: 0 !important;
  margin: 0 !important;
}

.text-oflow-lg {
  display: inline-block;
}

.cart-image {
  height: 60px;
  padding: 5px;
}

.x-small {
  font-size: x-small !important;
}

// Order Tacking SCSS

$orderPrimary: #6800f0;
$blueShade1: #2c3e50;
$blueShade2: #34495e;
$boxShadowLight1: 0 2rem 5rem rgba(0, 0, 0, 0.06);
$boxShadwoDark1: 0 2rem 6rem rgba(0, 0, 0, 0.3);

.order-track {
  margin-top: 2rem;
  padding: 0 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  &-step {
    display: flex;
    height: 7rem;

    &:last-child {
      overflow: hidden;
      height: 4rem;
      & .order-track-status span:last-of-type {
        display: none;
      }
    }
  }

  &-status {
    margin-right: 1.5rem;
    position: relative;
    &-dot {
      display: block;
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      background: $orderPrimary;
    }
    &-line {
      display: block;
      margin: 0 auto;
      width: 2px;
      height: 7rem;
      background: $orderPrimary;
    }
  }

  &-text {
    &-stat {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 3px;
    }

    &-sub {
      font-size: 1rem;
      font-weight: 300;
    }
  }
}
.order-track-text {
  padding-top: 0;
  margin-top: 0;
}

.order-track {
  transition: all 0.3s height 0.3s;
  transform-origin: top center;
  // transform: scale(0);
  // height: 0;
}
