.empty-cart img {
  display: block;
  margin: 0 auto;
  margin-top: 8vh;
}

img {
  height: auto;
  width: 45%;
}

.text-muted {
  color: #6c757d !important;
}

.bottom-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #ffffff;
  z-index: 999;
}
