<ion-content class="ion-padding">
  <ion-grid
    class="ion-padding animate__animated animate__fadeIn animate__faster"
  >
    <div class="empty-cart">
      <img src="../../assets/success.gif" alt="" />
      <h3 class="ion-text-center">
        {{ 'Password Updated' | translate }}!
      </h3>
    </div>
  </ion-grid>

  <ion-grid
    class="ion-padding animate__animated animate__slideInUp animate__faster"
  >
    <h6 class="text-muted ion-text-center">
      {{ 'Your password has been updated!' | translate }}
    </h6>
  </ion-grid>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" size="large" routerLink="/" color="primary"
          >{{ 'Login' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
