<ion-content [fullscreen]="true">
  <!-- Nav Bar -->

  <div class="top-nav">
    <ion-grid class="padding">
      <ion-row>
        <ion-col
          size="12"
          class="animate__animated animate__fadeIn animate__faster"
        >
          <ion-text color="primary">
            <h1 class="head" color="primary">
              {{ 'New Credentials' | translate }}
            </h1>
          </ion-text>
        </ion-col>

        <ion-col
          size="12"
          class="animate__animated animate__fadeIn animate__faster"
        >
          <ion-text color="dark">
            <h6 class="head" color="dark">
              {{ 'Your identity has been verified!' | translate }}
            </h6>
            <h6 class="head" color="dark">
              {{ 'Set your new password' | translate }}
            </h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="padding">
      <ion-item>
        <ion-input
          type="password"
          placeholder="{{ 'New Password' | translate }}"
          ><ion-icon class="icon-padding" name="lock-closed-outline"></ion-icon
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          placeholder="{{ 'Confirm Password' | translate }}"
          ><ion-icon class="icon-padding" name="lock-closed-outline"></ion-icon
        ></ion-input>
      </ion-item>

      <ion-button
        color="primary"
        routerLink="/password-success"
        size="large"
        class="ion-text-capitalize medium ion-margin-top"
        expand="full"
        >{{ 'Update' | translate }}</ion-button
      >
    </ion-grid>
  </div>
</ion-content>

<div class="bottom-bar">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button
          expand="full"
          size="default"
          routerLink="/password-success"
          color="primary"
          >{{ 'Success' | translate }}</ion-button
        >
      </ion-col>

      <ion-col size="6">
        <ion-button
          expand="full"
          size="default"
          routerLink="/password-failed"
          color="tertiary"
          >{{ 'Failed' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
