.account-img img {
  display: block;
  margin: 0 auto;
  border-radius: 150px;
  height: 100px;
  margin-top: 10%;
}

.no-gap {
  padding: 0 !important;
  margin: 0 !important;
}

.text-muted {
  color: #6c757d !important;
}
.small {
  font-size: small;
  font-weight: 600;
}
