// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

@font-face {
  font-family: AppFont;
  src: url("../assets/fonts/product_sans/GoogleSans-Bold.ttf");
  src: url("../assets/fonts/product_sans/GoogleSans-Medium.ttf");
}

:focus {
  outline: none !important;
}

:root {
  --ion-font-family: "AppFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ion-button {
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

ion-searchbar {
  .searchbar-input-container {
      input {
          border-radius: 25px !important;
          box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.15) !important;
      }
  }
}

:root {
  /** primary **/
  --ion-color-primary: linear-gradient(135deg, #c56cd6 0%, #613bbb 100%);
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: linear-gradient(135deg, #ce9ffc 0%, #8f78f3 100%);
  --ion-color-primary-tint: linear-gradient(135deg, #ba93f9 0%, #8874f2 100%);

  /** secondary **/
  --ion-color-secondary: linear-gradient(135deg, #0ec7f1 0%, #0470dc 100%);
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: linear-gradient(
    135deg,
    #09a2e8 0%,
    #0470dc 100%
  );
  --ion-color-secondary-tint: linear-gradient(135deg, #09a2e8 0%, #0681e0 100%);

  /** tertiary **/
  --ion-color-tertiary: linear-gradient(135deg, #ab5fcf 0%, #3425af 100%);
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: linear-gradient(135deg, #c56cd6 0%, #613bbb 100%);
  --ion-color-tertiary-tint: linear-gradient(135deg, #9253c8 0%, #613bbb 100%);

  /** success **/
  --ion-color-success: linear-gradient(135deg, #c3ec52 0%, #0ba29d 100%);
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: linear-gradient(135deg, #8fd767 0%, #24ac92 100%);
  --ion-color-success-tint: linear-gradient(135deg, #c3ec52 0%, #24ac92 100%);

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}