.empty-cart img {
  display: block;
  margin: 0 auto;
  margin-top: 45%;
}

.qty-padding {
  padding: 0px 12px 0px 12px !important;
}

.text-muted {
  color: #6c757d !important;
}

.x-small {
  font-size: x-small !important;
}

.no-gap {
  padding: 0 !important;
  margin: 0 !important;
}

.text-oflow-lg {
  display: inline-block;
}

.round-edge {
  border-radius: 8px !important;
  overflow: hidden;    
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.15) !important;
}

ion-icon {
  font-size: 24px;
}

.bottom-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #ffffff;
  z-index: 999;
}
