<ion-content [fullscreen]="true">
  <!-- Nav Bar -->

  <div class="top-nav">
    <ion-grid class="padding">
      <ion-row>
        <ion-col class="animate__animated animate__fadeIn animate__faster">
          <ion-text color="dark">
            <h1 class="head" color="dark">
              {{ 'Forget Password' | translate }}
            </h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="padding">
      <ion-item>
        <ion-input type="text" placeholder="{{ 'Phone' | translate }}" maxlength="15"
          ><ion-icon class="icon-padding" name="mail-outline"></ion-icon
        ></ion-input>
      </ion-item>

      <ion-button
        color="primary"
        routerLink="/otp"
        size="large"
        class="ion-text-capitalize medium ion-margin-top"
        expand="full"
        >{{ 'Send' | translate }}</ion-button
      >
    </ion-grid>
  </div>
</ion-content>
